@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lora:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fredericka+the+Great&display=swap');
@font-face {
    font-family: 'Berkshire Swash';
    src: url('../fonts/BerkshireSwash-Regular.ttf') format('truetype');
}

@media (min-width: 992px) {
    nav {
        height: 70px;
    }
    .navbar-brand>img {
        height: 60px;
    }
}
@media (max-width: 992px) {
    .jumbotron>div>.display-4 {
        font-size: 40px;
    }
    .navbar-brand>img {
        height: 50px;
    }
    .cluster-img {
        height: 200px !important;
    }
}
.navbar-brand {
    padding: 0;
}
.hide-nav {
    top: -70px;
    transition: all 0.2s ease-in-out;
}
.show-nav {
    top: 0px;
    transition: all 0.2s ease-in-out;
}
a {
    text-decoration: none !important;
}
#main {
    width: 100%;
    max-width: 100%;
}
#nav-activities .nav-link {
    color: #FFFFFF;
    padding: 25px 10px;
    border-bottom: 1px solid #c09944;
}
#nav-activities .nav-link > h4 {
    margin:0;
}
#nav-activities .nav-link:hover,
#nav-activities .nav-link.active > h4 {
    color: #c09944 !important;
    font-weight: bold;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: black;
}
.card-deck {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    row-gap: 20px;
}
.leaflet-popup-content {
    margin: 0 !important;
    padding-bottom: 10px;
}
.leaflet-popup-content-wrapper {
    border-radius: 0 !important;
}
.leaflet-popup-content>img {
    width: 100%;
    margin-bottom: 10px;
}
.leaflet-popup-content>b {
    margin: 10px 10px;
}
.nav-link {
    font-weight: bold;
}
.bg-gold {background-color: #c09944;}
.bg-gold-darker {background-color: #b68f3a;}
.bg-black {background-color: #000000;}
.bg-black2 {background-color: #1b1b1b;}
.bg-yellow {background-color: #f1e211;}
.border-gold {
    border: 1px solid #d1a84e;
}
#img-slider {
    overflow-x: scroll;
    height: 400px;
}
#img-slider>img {
    height: 100%;
}

li {
    list-style: none;
}
.uppercase {
    text-transform: uppercase;
}
.text-gold {color: #d1a84e;}
.text-yellow{color: #f1e211;}
span.text-red {color: #f40000;}
.navbar-toggler, .navbar-toggler:focus, .navbar-toggler:active {
    border: none;
    outline: none;
}
.jumbotron-home {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/hiking.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.jumbotron-about-us {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/_731874.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.jumbotron-cluster {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/desa-pinggan-bali-kintamani.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.jumbotron-abang-erawang {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/Gunung-Abang-Kintamani-3.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.jumbotron-manuk-jambe {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/8354284712_26e0b128f8_b.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.jumbotron-ulun-danu {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/maxresdefault.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.jumbotron-karanganyar {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/Batur-Geopark-.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.jumbotron-singamandawa {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/Bali-Beautiful-Fog-Scenery-Facebook.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.jumbotron-aktivitas {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/Sunrise-volcano-trek-to-Mount-Batur-shutterstock_526245781.jpg") center center no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.cluster-img-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.cluster-img {
    object-fit: cover;
    height: 300px;
}
.cluster-gallery {
    object-fit: cover;
    width: 100%;
    height: 200px;
}
.img-fluid {
    width: 100%;
    height: auto;
}
.img-darker {
    filter: brightness(70%);
}
#trapesium {
    border-bottom: 90px solid #f1e211;
    border-left: 0px solid transparent;
    border-right: 55px solid transparent;
    height: 0;
    width: 250px;
  }
.trapesium-2 {
    border-bottom: 60px solid #f1e211;
    border-left: 55px solid transparent;
    border-right: 55px solid transparent;
    height: 0;
    width: 210px;
}
.trapesium-3 {
    border-bottom: 60px solid #f1e211;
    border-left: 55px solid transparent;
    border-right: 0px solid transparent;
    height: 0;
    width: 280px;
    margin-top: 30px;
}
  .tourism-item:hover {
    background-color: #c09944;
  }
.tourism-item>img {
    max-width: 100%;
}
.serif {font-family: Lora;}
.font-berkshire {font-family: Berkshire Swash, cursive;}
.font-fredericka {font-family: Fredericka the Great, cursive;}
.features-image {
    object-fit: cover;
    object-position: 40% 0;
    width: 200px;
    max-width: 100%;
    height: 300px;
    filter: grayscale(100%)
}
#tourism-travel {
    background-color: #222222;
}
p{
    line-height: 1.75em;
}